
.dws-menu{
 background-color: white;
 margin-top: 100px;
 width: 100%;
}
ul.dws-ul{
 display: flex;
 padding: 0;
 justify-content: center;
}
li.dws-li{
 list-style: none;
 padding: 10px;
}
li.dws-li a{
 text-decoration: none;
 font-size: 18px;
 color: #414a4f;
 position: relative;
 padding: 5px;
}
li.dws-li a i{
 margin-right: 10px;
}

li.dws-li:hover a::before{
 width: 50%;
 transform: translateX(100%);
}
li.dws-li:hover a::after{
 width: 50%;
 transform: translateX(-100%);
}
li.dws-li a:hover{
 color: #2196F3;
}
















